@{
    Layout = "_Layout";
    ViewData["Title"] = "Complete Survey";
}

<h2 class="title">Thank you for completing the survey!</h2>
<h3 class="navLink">
    <a asp-page="/Users/Surveys/Index">Back</a>
</h3>
