@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Past Surveys";
}
@{
    int? GetResponseId(int surveyId)
    {
        var response = Model.UserResponses!
            .Where(r => r.SurveyId == surveyId)
            .FirstOrDefault();
        return response?.Id;
    }
}

<h3 class="navLink">
    <a asp-page="./ViewResults">View</a>
</h3>

<table>
    <caption>Available surveys</caption>
    <thead>
        <tr>
            <th>Survey #</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var survey in Model.AvailableSurveys!)
        {
            <tr>
                <td>@survey.Id</td>
                <td>@survey.Title</td>
                <td>
                    @{
                        var responseId = GetResponseId(survey.Id);
                    }
                    @if (responseId == null)
                    {
                        <a asp-controller="Survey"
                           asp-action="Index"
                           asp-route-id="@survey.Id">Take survey!</a>
                    }
                    else
                    {
                        <a asp-page="./ViewResults"
                           asp-route-id="@responseId">View response</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>