@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin";
}

<h3 class="navLink">
    <a asp-page="NewSurvey">New Survey</a>
</h3>
<h3 class="navLink">
    <a asp-page="ImportSurvey">Import Survey</a>
</h3>
<h3 class="navLink">
    <a asp-page="Surveys/Index">Surveys</a>
</h3>
<h3 class="navLink">
    <a asp-page="Users/Index">Users</a>
</h3>