@page
@model NewSurveyModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "New Survey";
}

<form method="post">
    <ul>
        <li>
            <label asp-for="Survey.Title"></label>
            <input asp-for="Survey.Title" />
        </li>
        <li class="button">
            <button type="submit">Create</button>
        </li>
    </ul>
</form>