@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "User Profile";
}

<h3 class="navLink">
    <a asp-page="./EditProfile">Edit Profile</a>
</h3>
<h3 class="navLink">
    <a asp-page="./UploadAvatar">Upload Avatar</a>
</h3>