@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Surveys Admin";
}

<table>
    <caption>All surveys</caption>
    <thead>
        <tr>
            <th>Survey #</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var survey in Model.Surveys)
        {
            <tr>
                <td>@survey.Id</td>
                <td>@survey.Title</td>
                <td><a asp-page="./View" asp-route-id="@survey.Id">View</a> | 
                <a asp-page="./Edit" asp-route-id="@survey.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>