@page "{id:int}"
@model ViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "View Survey";
}

<form>
    <ul>
        <li>
            <label asp-for="Survey!.Id"></label>
            <input asp-for="Survey!.Id" type="text" readonly="readonly" />
        </li>
        <li>
            <label asp-for="Survey!.Title"></label>
            <input asp-for="Survey!.Title" type="text" readonly="readonly" />
        </li>
        <hr>
        @foreach (var question in Model.Questions!)
        {
            <li>
                <label></label>
                @Html.TextAreaFor(model => question.Text, new { @readonly = "readonly" })
            </li>
        }
        <li class="button">
            <a asp-page="./Edit" asp-route-id="@Model.Survey!.Id">Edit</a>
        </li>
    </ul>
</form>