@page
@{
    Layout = "_Layout";
}

<h1 class="title">Globomantics Surveys</h1>
<h3 class="navLink">
    <a href="#">Your Surveys</a>
</h3>
<h3 class="navLink">
    <a href="#">Profile</a>
</h3>
<h3 class="navLink">
    <a href="#">Your Surveys</a>
</h3>
<h3 class="navLink">
    <a href="#">Admin</a>
</h3>